.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-default {
  @apply form-control
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-[#2e2e2e]
        bg-[#f7f7ff] bg-clip-padding
        border border-gray-300
        rounded
        transition-all
        duration-200
        ease-in-out
        m-0;
}

.social-button {
  @apply btn btn-accent btn-ghost shadow-lg border-none py-1 rounded-lg grid justify-items-center cursor-pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
